.contianer{
    width: 950px;
    min-height: 200px;
    margin: auto;
}
h1{
    text-align: center;
}
.box{
    width: 700px;
    min-height: 100px;
    background-color: grey;
    margin: auto;
    padding: 5px;
    
}
.column{
    width: 293px;
    display: inline-block;

}
#id{
    width: 50px;
    display: inline-block;

}
#age{
    width: 50px;
    display: inline-block;

}
.column h3{
    text-align: left;
    background-color: lightgray;


}
.column ul{
    text-align: left;
    background-color:lightgray;
    text-decoration: none;
    padding: 5px;

}
.column li{
    list-style-type: none;
    background-color: lightgray;
}
.column li:nth-child(odd){
    background-color: white;
}

.input{
    width: 700px;
    min-height: 100px;
    background-color: lightgray;
    margin: auto;
    padding: 5px;
    
}

.input p{
    display: inline-block;
    margin: 15px;
    width: 140px;


} 

.input button{
    display: block;
    margin: 5px 330px;
}
